.noShow, #messageBoard {
  display: none;
}
.rooms {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 800px;
}
img{
  max-width: 20%;
}
#cageRoom {
  background-image: url(../img/cageRoom.jpg);
}
#forestRoom {
  background-image: url(../img/forestRoom.jpg);
}
#closetRoom {
  background-image: url(../img/cellarRoom.jpg);
}
#entranceRoom {
  background-image: url(../img/entranceRoom.gif);
}
